<div class="container">
    <h1>the last news from newsFirm !</h1>

    <div  *ngFor="let article of articles ">
      <div class="grid">
        <div>
          <ul>
            <li class="article" >
              <ol>
                  <h3>{{article.title}}</h3>
                  <p>{{article.content}}</p>
                  <a href="{{article.url}}"> link </a>
                      <!--<img src="{{article.urlToImage}}">
                      {{article.publisehdAt}}-->
              </ol>
            </li>
          </ul>
        </div>



      </div>
    </div>

</div>
